<footer>
  <div class="footer-info">
    <div class="footer-social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <div> &copy; Wanderlust Private Limited</div>
    <div class="footer-links">
        <a href="/Privacy">Privacy</a>
       <a href="/terms">Terms</a>
    </div>
  </div>  
</footer>